--- 
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Sidebar from '../components/Sidebar.jsx';
import PlayersField from '../components/PlayersField.jsx';

const jugadores = [
  { nombre: 'C.VARGAS', numero: 1, posicion: 'portero', imagen: 'pepe.png' },
  { nombre: 'C.CUESTA', numero: 2, posicion: 'defensa', imagen: 'pepe.png' },
  { nombre: 'D.SÁNCHEZ', numero: 23, posicion: 'defensa', imagen: 'pepe.png' },
  { nombre: 'S.ARIAS', numero: 4, posicion: 'defensa', imagen: 'pepe.png'},
  { nombre: 'J.MOJICA', numero: 17, posicion: 'defensa', imagen: 'pepe.png' },
  { nombre: 'R.RIOS', numero: 6, posicion: 'medio-defensivo', imagen: 'pepe.png' },
  { nombre: 'J.LERMA', numero: 16, posicion: 'medio-defensivo', imagen: 'pepe.png' },
  { nombre: 'J.RODRÍGUEZ', numero: 10, posicion: 'medio-ofensivo', imagen: 'pepe.png' },
  { nombre: 'J,ARIAS', numero: 11, posicion: 'medio-ofensivo', imagen: 'pepe.png' },
  { nombre: 'L.DÍAZ', numero: 7, posicion: 'medio-ofensivo', imagen: 'pepe.png' },
  { nombre: 'J.CÓRDOBA', numero: 24, posicion: 'delantero', imagen: 'pepe.png' },
];
---

<Layout title='La selección'>
  <Sidebar /> <!-- Sidebar Fijo -->
  <div class="ml-64 flex flex-col min-h-screen"> <!-- Espacio para el Sidebar -->
    <Header client:only="react" />
    <header class="text-center py-6 bg-[url('/img/image1.png')] bg-cover bg-center text-yellow-400 text-2xl">
      LA SELECCIÓN
    </header>
    <main class="container mx-auto px-4 py-8 flex-grow">
      <div class="bg-blue-800 text-white p-6 rounded-lg shadow-lg mb-8">
        <h2 class="text-xl font-semibold mb-4">Selecciona un jugador</h2>
        <!-- Puedes agregar contenido interactivo aquí -->
      </div>

      <PlayersField jugadores={jugadores} /> <!-- Componente de la Cancha y Jugadores -->
    </main>
  </div>
</Layout>
<!-- <footer class="fixed bottom-0 left-0 w-full h-36 bg-[url('/img/image2.jpeg')] bg-cover bg-center text-white flex items-center justify-center">
  © 2024 Tu Sitio de Fútbol
  </footer> -->

